<!DOCTYPE html>
<html>
<body>
    <head>
        <link rel="stylesheet" href="app/static/css/app.css" type="text/css" />
    </head>  
    
    <div class="p_layout"> 
    
    <div class="top_layout">
        
        <img src="" alt="Picture of Me"></img>
    
        <h1>Aaron Richard</h1>  
   
        <p class="alias">
            @aaronrichard <br/> 
        </p> 
    
        <p class="From">
            Kingston, Jamaica <br/>
        </p> 
    
        <p class="date_joined">
            Joined January, 2018
        </p> 
    
    </div>
    
    <div class="bot_layout">
            <p class="about">
                Humble, devout believer in the living God and His perfect Son Jesus Christ, who is Lord of ALL,<br/> 
                I loves web dynamics,
                development and design.  
            </p> 
    
            <label class="p" for="post"><strong>7</strong></label>  
            <label class="f" for="following"><strong>100</strong></label> 
            <label class="frs" for="followers"><strong>250</strong></label>
            
            <p class="post">Post</p> 
            <p class="following">Following</p> 
            <p class="followers">Followers</p>
    
            <submit>Follow</submit>  
    
    </div>
    
    </div>
</body>    
</html>